.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 1.5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-coffee-gradient {
  background: linear-gradient(to bottom, #f5f5f5, #e0d4c0);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.max-w-container {
  max-width: 1200px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-24 {
  padding-top: 6rem;
}

.flex-grow {
  flex-grow: 1;
}
